// FONT

html {
  // 1rem = 10px
  font-size: 10px;
}

body {
  font-family: $sans;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-bottom: 2em;
  line-height: 1.8;
  letter-spacing: 1px;
  font-size: 1.4rem;
  font-weight: 400;

  @include min($tablet) {
    font-size: 1.8rem;
  }
}

h1 {
  letter-spacing: 1px;
  font-size: 3.4rem;
  font-weight: 400;

  @include min($desktop) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2.8rem;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.terms-wrapper,
.page-wrapper {
  padding: 10px;
  background: $light-grey;

  @include min($tablet) {
    padding: 50px;
  }

  &.page-wrapper--error {
    @include min($tablet) {
      height: 700px;
    }
  }
}

.terms,
.general-page {
  margin: auto;
  padding: 15px;
  background: $white;
  max-width: 780px;

  @include min($desktop) {
    padding: 50px;
  }

  h1 {
    margin-bottom: 1em;
  }

  h2 {
    margin-top: 3.5em;
    margin-bottom: 1em;
    padding-bottom: 15px;
    border-bottom: 2px solid $grey;
    font-size: 1.8rem;
    font-family: $mono;
    color: $grey;
  }

  p {
    font-size: 1.6rem;
  }

  ul {
    padding-bottom: 2em;
    padding-left: 1em;
    font-size: 1.6rem;
  }

  li {
    padding-bottom: 1em;
  }

  a {
    border-bottom: 2px solid $black;
    transition: all 200ms ease;
    transition-property: border-color, color;

    &:hover,
    &:focus,
    &:active {
      color: $tan;
      border-color: $tan;
    }
  }
}

.subheader {
  margin: 0 0 50px;
  letter-spacing: 1px;
  font-family: $mono;
  font-size: 2rem;
  font-weight: 400;
}

.text-left {

  @include min($desktop) {
    text-align: left;
  }
}

.text-right {

  @include min($desktop) {
    text-align: right;
  }
}

.text-center {
  text-align: center;
}

.element-invisible {
  visibility: hidden;
  display: none;
}

// LAYOUT

// .container {
//   width: 100% - 2 * $site-gutter;
//   max-width: $site-width;
//   margin-right: auto;
//   margin-left: auto;
// }
