// SITE

$site-width:  960px;
$site-gutter: 7.5%;

// BREAKPOINTS
$iphone: 600px;
$tablet:  768px;
$desktop: 992px;
$large: 1200px;
$xlarge: 1400px;
$xxlarge: 1600px;

// FONTS
$sans: "Roboto", arial, sans-serif;
$mono: "Roboto Mono", "Roboto", sans-serif;

// COLORS
$white: #fff;
$black: #252422;
$navy: #46435d;
$olive: #4e654f;
$grey: #777;
$light-black: #555;
$light-grey: #f5f5f5;
$blue: #afc5c9;
$tan: #e9ccb9;
$red: #f39c88;
$tan-red: #d58061;
