// SITE

$site-width:  960px;
$site-gutter: 7.5%;

// BREAKPOINTS
$iphone: 600px;
$tablet:  768px;
$desktop: 992px;
$large: 1200px;
$xlarge: 1400px;
$xxlarge: 1600px;

// FONTS
$sans: "Roboto", arial, sans-serif;
$mono: "Roboto Mono", "Roboto", sans-serif;

// COLORS
$white: #fff;
$black: #0F0F0F;
$grey: #777;
$light-black: #555;
$light-grey: #fcfcfc;
