{% extends "base.twig" %}

{% block content %}
	<div class="page-wrapper page-wrapper--error">
    <div class="general-page text-center">
      <h1 class="error-title">404</h1>
      <p>
        Sorry but this page could not be found, we suggested
        <a href="https://pwlarue.com/">returning to the homepage</a>, or <a href="https://pwlarue.com/shop/">shopping our collection</a>.
      </p>
    </div>
  </div>
{% endblock %}
