{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<div class="post-type-{{ post.post_type }} post-{{ post.post_name }}" id="post-{{ post.ID }}">
			<div class="article-content">
				<h1 class="article-title">
					My Shopping Cart
				</h1>
				<div class="article-body">
					{% filter shortcodes %}
						[woocommerce_cart]
					{% endfilter %}
				</div>
			</div>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}
