
<footer class="footer">
  <div class="grid">
    <div class="col text-left">
      <span class="footer__label">
        © Copyright {{"now"|date('Y')}} P.W. LaRue Co.
      </span>
    </div>
    <div class="col">
      <div class="footer__email">
        <a class="footer__link" href="mailto:info@pwlarue.com">info@pwlarue.com</a>
      </div>
    </div>
    <div class="col text-right">
      <div class="footer__social">
        <span class="footer__label">Follow Us:</span>
        <a class="footer__link social-link" href="https://www.facebook.com/PWLaRueCo/">Facebook</a>
        <a class="footer__link social-link" href="https://www.instagram.com/p.w.larue/">Instagram</a>
      </div>
    </div>
  </div>
</footer>
