{% extends "base.twig" %}

{% block content %}
	<section class="hero">
	  <h1 class="hero-header parallax">
	    <span class="hero-header__text">
	      Leather and canvas goods made from the highest quality materials. <a href="/shop" class="link">All
	      of our products</a> are made here in our studio located in the southwest
	      industrial side of Chicago.
	    </span>
	  </h1>
	  <a href="/product.html" class="hero-image-wrapper">
	    <span>Carry All Navy Bag</span>
	    <img src="images/products/carry-all-navy-front.png">
	  </a>
	  <img class="hero-second-image" src="images/shop-machines.jpg">
	</section>
	<section class="section section--instagram">
	  <a href="https://www.instagram.com/p/BRM4RJXjABt/?taken-by=pwlarueco">
	    <img class="instagram-photo instagram-photo--first" src="images/pwlarueco-instagram-1.jpg" alt="Hand stitching reinforcements on the accordion card wallet image">
	  </a>
	  <a href="https://www.instagram.com/p/BREzWgkjo7G/?taken-by=pwlarueco">
	    <img class="instagram-photo instagram-photo--second" src="images/pwlarueco-instagram-2.jpg" alt="Sewing up leather goods in our Chicago shop for the 2017 collection image">
	  </a>
	  <div class="section-content section-content--instagram">
	    <h2 class="section-header">
	      <a class="link" target="_blank" href="https://instagram.com/pwlarueco">Follow our shop on Instagram</a> to learn about our process and be
	      the first to hear about promotions.
	    </h2>
	  </div>
	</section>
{% endblock %}
