{# Instagram Section Callout #}

<section class="section section--instagram">
  <a target="_blank" href="https://www.instagram.com/p/BRHlNe3DVk-/">
    <img class="instagram-photo instagram-photo--first" src="https://pwlarue.com/wp-content/uploads/2017/03/pwlarueco-instagram-3.jpg" alt="Hand stitching reinforcements on the accordion card wallet image">
  </a>
  <a target="_blank" href="https://www.instagram.com/p/BREzWgkjo7G/?taken-by=pwlarueco">
    <img class="instagram-photo instagram-photo--second" src="https://pwlarue.com/wp-content/uploads/2017/03/pwlarueco-instagram-2.jpg" alt="Sewing up leather goods in our Chicago shop for the 2017 collection image">
  </a>
  <div class="section-content section-content--instagram">
    <h2 class="section-header">
      Follow our shop on Instagram to learn about our process and be
      the first to hear about special promotions.
    </h2>
    <a target="_blank" class="button" href="https://instagram.com/pwlarueco">Follow Us</a>
  </div>
</section>
