{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<div class="post-type-{{ post.post_type }} post-{{ post.post_name }}" id="post-{{ post.ID }}">
			<div class="terms-wrapper">
    		<div class="terms">
					<h1 class="article-title">
						Terms and Conditions
					</h1>
					{{ post.content }}
				</div>
			</div>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}
