/*
 *  Define the about section styles.
 */

.section {
  position: relative;
}

.section--about {
  padding: 50px 15px 25px;
  overflow: hidden;
  text-align: left;
  background: $light-grey;

  @include min($tablet) {
    padding: 100px 50px 100px;
  }
}

.about-image {
  display: inline-block;
  max-width: 100%;

  @include min($tablet) {
    display: inline-block;
    max-width: 60%;
  }

  @include min($xxlarge) {
    max-width: 70%;
  }
}

.section-content {
  position: absolute;
  padding: 25px 28px 30px;
  background: $white;
  backface-visibility: hidden;

  .cta-link {
    margin-top: 25px;
    float: none;
    display: inline-block;
    font-size: 1.6rem;
  }
}

.section-header {
  color: $black;
  line-height: 1.8;
  letter-spacing: 1px;
  font-size: 1.8rem;
  font-family: $sans;
  font-weight: 400;

  @include min($tablet) {
    font-size: 2.4rem;
  }
}

.section--instagram {
  padding: 25px 15px 50px;
  position: relative;
  background: $light-grey;
  text-align: center;

  @include min($tablet) {
    padding: 50px 50px 100px;
  }

  video {
    width: 100%;

    @include min($tablet) {
      width: 50%;
    }
  }
}

.section-content--about {
  position: relative;
  bottom: 50px;
  width: 90%;

  @include min($tablet) {
    position: absolute;
    top: auto;
    right: 8%;
    bottom: 25%;
    width: 38%;
  }

  @include min($xxlarge) {
    width: 34%;
  }

  .cta-link {
    margin-top: 50px;
  }
}

.section-content--instagram {
  transform: translate(-50%, -50%);
  text-align: center;
  left: 50%;
  top: 50%;
  z-index: 100;
  padding: 30px 35px 35px;
}
