/*
 *  Define the about section styles.
 */

.section {
  position: relative;
}

.section--featured {
  padding: 0;

  @include min($tablet) {
    padding: 25px 0 100px;
  }
}

.section--about {
  padding: 50px 15px 25px;
  overflow: hidden;
  text-align: left;
  background: $white;

  @include min($tablet) {
    // padding: 100px 100px 100px;
    padding: 0;
  }
}

.about-image {
  display: inline-block;
  max-width: 100%;

  @include min($tablet) {
    display: inline-block;
    // max-width: 68%;
    max-width: 100%;
  }

  // @include min($xxlarge) {
  //   max-width: 70%;
  // }
}

// .section-content {
//   position: absolute;
//   // padding: 25px 28px 30px;
//   // background: $white;
//   backface-visibility: hidden;

//   .cta-link {
//     margin-top: 25px;
//     float: none;
//     display: inline-block;
//     font-size: 1.6rem;
//   }
// }

// .section-header {
//   color: $white;;
//   line-height: 1.8;
//   letter-spacing: 1px;
//   font-size: 1.8rem;
//   font-family: $sans;
//   font-weight: 400;

//   @include min($tablet) {
//     font-size: 3rem;
//   }
// }

.section-header {
  color: $black;
  line-height: 1.8;
  letter-spacing: 1px;
  font-family: $sans;
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: none;
}

.link {
  display: inline-block;
  text-decoration: none;
  line-height: 1;
  z-index: 10;
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
  box-shadow: inset 0 2px 0 0 #fff, inset 0px -2px 0 0 $tan;
  transition: all 250ms ease;
  transition-property: color, text-shadow, box-shadow;

  &:hover,
  &:active,
  &:focus {
    color: $tan;
  }
}

.section--instagram {
  padding: 25px 15px 50px;
  position: relative;
  background: $white;
  text-align: center;

  @include min($tablet) {
    padding: 150px 100px 100px;
  }

  .section-header {
    display: inline-block;
    max-width: 45%;
  }

  .instagram-photo {
    display: inline-block;
  }

  .instagram-photo--first {
    margin-right: 1px;
    width: 43.5%;
  }

  .instagram-photo--second {
    width: 55.25%;
  }

  video {
    width: 100%;

    @include min($tablet) {
      width: 50%;
    }
  }
}

.section-content--instagram {
  text-align: center;
  z-index: 100;
  padding: 50px 35px 35px;
  font-size: 2.2rem;
}

// .section-content--about {
//   position: relative;
//   bottom: 50px;
//   width: 90%;

//   @include min($tablet) {
//     position: absolute;
//     // top: 47%;
//     // right: 4%;
//     top: 47%;
//     left: 100px;
//     width: 34%;
//   }

//   .cta-link {
//     color: $white;
//     border-color: $white;
//     margin-top: 25px;
//     font-size: 1.8rem;
//   }

//   .section-header {
//     font-size: 4rem;
//   }
// }
