/*
 *  Define the product styles.
 */

.featured-products {
  font-size: 0;

  .grid {
    padding: 0;

    @include min($tablet) {
      padding: 0 25px;
    }
  }
}

.featured-product {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0 2px 4px;
  vertical-align: top;
  transition: background-color 300ms ease;

  @include min($tablet) {
    width: 50%;
  }

  @include min($large) {
    width: 33%;
  }

  &:hover,
  &:active,
  &:focus {
    .product-info {
      transform: translateY(0);
      opacity: 1;
    }

    .featured-product__image {
      opacity: 0;
    }

    .featured-product__image-alt {
      opacity: 1;
    }
  }

  &.background-grey {
    background-color: rgba(#f9f9f9, 0.99);
  }

  &.background-tan {
    background-color: rgba($tan, 0.99);

    .product-info {
      color: $white;
    }

    .price {
      color: $light-grey;
    }
  }

  &.background-blue {
    background-color: rgba($blue, 0.25);
  }
}

.featured-product__image {
  transition: opacity 350ms ease;
  position: relative;
  z-index: 1;
}

.featured-product__image-alt {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 10;
  transition: opacity 400ms ease;
  background: $light-grey;
}

.product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 350ms ease;
  opacity: 1;
  z-index: 100;
  padding: 15px 25px 10px;
  background: $white;
  color: #4e4e4e;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 2px;
  font-size: 2.8rem;
  font-weight: 500;

  @include min($desktop) {
    transform: translateY(15px);
    opacity: 0;
  }

  em {
    letter-spacing: 0;
    font-style: normal;
    font-family: $mono;
    font-size: 1.8rem;
  }

  .price {
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
    padding-bottom: 4px;
    letter-spacing: 0;
    font-family: $sans;
    font-size: 1.8rem;
    font-weight: bold;
    webkit-font-smoothing: auto;
    color: $grey;
  }
}

.product-text {
  display: block;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 80%;

  @include min($tablet) {
    flex: 1 0 40%;
  }

  @include min($desktop) {
    flex: 1 0 28%;
  }
}

.section--cta {
  padding: 75px 15px 10px;
  background: $white;
  color: $black;

  @include min($tablet) {
    padding: 50px 50px 50px;
    margin: 0 50px;
  }
}

.cta-header {
  position: relative;
  display: inline-block;
  margin-right: 50px;
  vertical-align: top;
  color: $black;
  font-family: $sans;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.cta-link {
  transition: all 250ms ease;
  transform: translateY(0);
  display: inline-block;
  margin-top: 10px;
  padding: 0 0 4px;
  border-bottom: 2px solid $black;
  letter-spacing: 1px;
  font-family: $mono;
  font-size: 1.6rem;
  font-weight: 300;
  box-shadow: 0 0 0 rgba($black, 0.05);

  @include min($tablet) {
    font-size: 1.8rem;
  }

  &:hover,
  &:active,
  &:focus {
    transform: translateY(-1px);
    color: $grey;
    border-color: $grey;
  }
}

.product-tile-link {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.product-tile {
  position: relative;
  margin: 15px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba($black, 0.12);

  @include min($tablet) {
    margin: 25px;
  }

  &:hover,
  &:active,
  &:focus {

    .product-tile__image--alt {
      transform: translate(0, 0);
      opacity: 1;
      z-index: 10;
    }

    .product-tile__info {
      transform: translate(-50%, 0);
      opacity: 1;
      z-index: 15;
    }
  }
}

.product-tile__info {
  transition: all 450ms ease;
  transform: translate(-50%, 15px);
  position: absolute;
  bottom: 25px;
  left: 50%;
  opacity: 0;
  z-index: 1;
  width: 80%;
  padding: 10px 15px;
  backface-visibility: hidden;
  background: $white;
  box-shadow: 0 1px 3px rgba($black, 0.16);
  text-align: left;
  font-size: 1.4rem;
  font-family: $mono;
  color: $black;

  @include min($large) {
    font-size: 1.6rem;
  }
}

.info-product-name {
  display: inline-block;
  margin: 0;
}

.info-product-price {
  float: right;
}

.product-tile__image {
  display: block;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  position: relative;
  top: 0;
  left: 50%;
  z-index: 5;
  max-width: 103%;
  width: 103%;
  height: auto;
  backface-visibility: hidden;
}

.product-tile__image--alt {
  transition: all 450ms ease;
  transform: translate(0, 0);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
