/*
 *  Define the product tiles styles.
 */

.featured-products {
  padding: 2px;
  font-size: 0;

  @include min($tablet) {
    padding: 0;
  }

  .grid {
    padding: 0;

    @include min($tablet) {
      padding: 0 25px;
    }
  }
}

.shop-page {
  padding-top: 0;
  padding-bottom: 0;

  .featured-product {
    padding: 35px 0;
  }
}

.featured-product {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0 0 4px;
  vertical-align: top;
  overflow: hidden;
  transition: all 400ms ease;

  @include min($tablet) {
    width: 49.5%;
    width: calc(50% - 4px);
    margin: 0 2px 4px;
  }

  @include min($large) {
    width: 33.1%;
    width: calc(33.33% - 4px);
    min-height: 400px;
  }

   &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    height: 100%;
    width: 100%;
    background: $tan;
    transition: opacity 550ms ease;

    @include min($desktop) {
      opacity: 0;
    }
  }

  &:hover,
  &:active,
  &:focus {

    &::after {
      opacity: 1;
    }

    .product-info {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  &.background-grey {
    // background-color: rgba(#f9f9f9, 0.99);
    background: linear-gradient($light-grey, #f9f9f9);

    .product-info {
      color: $white;
    }
  }

  &.background-tan {
    background-color: rgba($tan, 0.99);

    .product-info {
      color: $white;
    }
  }
}

.product--has-hover {
  &:hover,
  &:active,
  &:focus {

    .featured-product__image {
      opacity: 0;
    }

    .featured-product__image-alt {
      opacity: 1;
    }
  }
}

.featured-product__image {
  transition: opacity 350ms ease;
  position: relative;
  z-index: 1;
}

.featured-product__image-alt {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  z-index: 10;
  transition: opacity 400ms ease;
}

.product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 400ms ease;
  opacity: 1;
  z-index: 100;
  width: 100%;
  padding: 20px 10px 15px;
  color: #4e4e4e;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: 1.8rem;
  font-weight: 700;

  @include min($tablet) {
    padding: 20px 25px 15px;
    font-size: 2rem;
  }

  @include min($desktop) {
    transform: translateY(25px);
    opacity: 0;
  }

  &.product-info--long-title {
    .product-text {
      width: 80%;
      text-align: left;
    }

    .price {
      vertical-align: bottom;
    }
  }

  em {
    letter-spacing: 0;
    font-style: normal;
    font-family: $mono;
    font-size: 1.8rem;
  }

  .price {
    display: inline-block;
    vertical-align: top;
    color: $white;
    letter-spacing: 0;
    font-family: $sans;
    font-size: 1.8rem;

    @include min($tablet) {
      font-size: 2rem;
    }
  }
}

.product-text {
  display: inline-block;
  vertical-align: top;
  padding-right: 5px;
}

// Fade In Animations
.product-fade {

  .featured-product__image {
    animation: TileFadeIn 1000ms 1;
  } 
}

.product-fade--2 {
  .featured-product__image {
    animation-delay: 200ms;
  }
}

.product-fade--3 {
  .featured-product__image {
    animation-delay: 400ms;
  }
}


@keyframes TileFadeIn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 80%;

  @include min($tablet) {
    flex: 1 0 33%;
  }

  @include min($desktop) {
    flex: 1 0 28%;
  }
}

.section--cta {
  padding: 75px 15px 10px;
  background: $white;
  color: $black;

  @include min($tablet) {
    padding: 50px 50px 50px;
    margin: 0 50px;
  }
}

.cta-header {
  position: relative;
  display: inline-block;
  margin-right: 50px;
  vertical-align: top;
  color: $black;
  font-family: $sans;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.cta-link {
  transition: all 250ms ease;
  transform: translateY(0);
  display: inline-block;
  margin-top: 10px;
  padding: 0 0 4px;
  border-bottom: 2px solid $black;
  letter-spacing: 1px;
  font-family: $mono;
  font-size: 1.6rem;
  font-weight: 300;
  box-shadow: 0 0 0 rgba($black, 0.05);

  @include min($tablet) {
    font-size: 1.8rem;
  }

  &:hover,
  &:active,
  &:focus {
    transform: translateY(-1px);
    color: $grey;
    border-color: $grey;
  }
}
