/*
 *  Define the footer styles.
 */

.footer {
  padding: 50px 0 25px;
  border-top: 2px solid $light-grey;
  background: $white;
  color: $black;
  text-align: center;
  font-family: $mono;
  font-weight: 400;
  font-size: 1.6rem;

  @include min($desktop) {
    padding: 50px 25px 25px;
  }


  @include min($desktop) {
    padding: 50px 100px;
    text-align: center;
  }

  .col {
    margin-bottom: 35px;
    flex: 1 0 100%;

    @include min($desktop) {
      margin-bottom: 0;
      flex: 1 0 33%;
    }
  }
}

.footer__label {
  display: block;

  @include min($tablet) {
    display: inline-block;
    margin-right: 40px;
  }
}

.footer__link {
  transition: color 200ms ease;
  transition-property: color, border-color;
  // padding-bottom: 5px;
  // border-bottom: 2px solid $black;

  &:hover,
  &:active,
  &:focus {
    color: $tan;
    border-color: $tan;

    svg {
      fill: $tan;
    }
  }

  svg {
    position: relative;
    top: 5px;
    height: 20px;
    width: auto;
    margin-right: 5px;
    transition: fill 200ms ease;
  }
}

.social-link {
  display: inline-block;
  margin-right: 15px;
  transition: color 200ms ease;

  @include min($iphone) {
    margin-right: 25px;
  }

  @include min($tablet) {
    margin-top: 0;
    margin-right: 20px;
    margin-left: 20px;
  }

  &.social-link--facebook {
    svg {
      top: 3px;
    }
  }
}
