/*
 *  Define the product page styles.
 */

.hero {
  position: relative;
  margin-top: 0;
  text-align: center;

  @include min($tablet) {
    padding: 0;
    background: $light-grey;
  }
}

.hero-video {
  width: 100%;
  height: auto;

  @include min($tablet) {
    margin-top: -6.9%;
    margin-bottom: -7.65%;
  }
}

.hero-link {
  text-align: left;
  transform: translateX(-50%);
  position: absolute;
  bottom: 25px;
  left: 50%;
  // right: 100px;
  display: inline-block;
  z-index: 150;
  color: $white;
  font-family: $mono;
  font-size: 1.6rem;
  font-weight: 300;
}

// Index 2s
// .hero-alt {
//   .hero-video {
//     margin-top: -100px;
//     width: 100%;
//   }
// }

// .hero-video-alt {
//   display: inline-block;
//   margin: auto;

//   @include min($tablet) {
//     width: 90%;
//     margin: 50px auto 0;
//   }

//   @include min($large) {
//     width: 70%;
//   }
// }

.hero-image {
  display: inline-block;
  height: 300px;
  width: 100%;
  vertical-align: top;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include min($tablet) {
    height: 600px;
  }

  @include min($xxlarge) {
    height: 700px;
  }
}

.hero-image-wrapper {
  display: inline-block;
  vertical-align: top;
}

.hero-image-wrapper--first {
  width: 100%;
  background-position: right;

  @include min($tablet) {
    width: 59.5%;
    margin-right: 4px;
  }

  @include min($large) {
    width: 60%;
  }
}

.hero-image-wrapper--second {
  display: none;
  background-position: center;

  @include min($tablet) {
    display: inline-block;
    width: 39.75%;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.hero-content {
  position: relative;
  z-index: 100;
  padding: 25px 0;
  text-align: left;

  @include min($tablet) {
    margin-top: -130px;
    padding: 50px 100px 0;
    text-align: center;
  }
}

.hero-title {
  display: block;
  margin-bottom: 2.5em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  width: 100%;
  background: $white;
  color: $black;
  line-height: 1.8;
  letter-spacing: 0.5px;
  font-family: $sans;
  font-size: 2rem;
  font-weight: 300;
  text-transform: none;

  @include min($tablet) {
    width: 69%;
    padding: 35px 35px;
    font-size: 2.4rem;
  }

  @include min($xlarge) {
    width: 54%;
  }

  @include min($xxlarge) {
    width: 50%;
  }
}
