/*
 *  Define the navigation styles.
 */


.navigation {
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: auto;
  padding: 15px 0 0;
  border-bottom: 1px solid $grey-border;
  text-align: center;
  
  @include min($tablet) {
    padding: 15px 25px;
    border-bottom: none;
  }

   @include min($desktop) {
    padding: 20px 50px;
  }

  @include min($large) {
    padding: 20px 100px;
  }
}

.logo {
  display: block;
  z-index: 100;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid $grey-border;

  @include min($tablet) {
    display: inline-block;
    width: 60%;
    padding-bottom: 0;
    border-bottom: 0;
  }

  svg {
    width: 180px;
    fill: $black;
    stroke: $black;

    @include min($tablet) {
      width: 200px;
    }

    &:hover,
    &:active,
    &:focus {
      * {
        fill: $grey;
        stroke: $grey;
      }
    }

    * {
      transition: all 200ms ease;
      fill: $black;
      stroke: $black;
    }
  }
}

.nav-link {
  display: inline-block;
  padding: 15px;
  height: 56px;
  width: 49.25%;
  vertical-align: top;
  color: $black;
  letter-spacing: 1px;
  font-family: $sans;
  font-weight: 300;
  font-size: 1.6rem;
  webkit-font-smoothing: auto;
  transition: color 250ms ease;

  @include min($tablet) {
    height: auto;
    width: 19%;
    margin-top: 18px;
    padding: 0;
  }

  &:hover,
  &:active,
  &:focus {
    color: $tan;
  }

  &.nav-link--first {
    border-right: 1px solid $grey-border;
    text-align: center;

    @include min($tablet) {
      float: left;
      border: 0;
      text-align: left;
    }
  }

  &.nav-link--last {
    text-align: center;

    @include min($tablet) {
      float: right;
      text-align: right;
    }
  }
}

.cart-contents {

  &:hover,
  &:active,
  &:focus {
    span {
      background: $tan;
      color: $white;
    }
  }

  span {
    transition: all 250ms ease;
    box-shadow: 0;
    position: relative;
    top: -3px;
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-left: 10px;
    border-radius: 100%;
    background: $black;
    color: $white;
    text-align: center;
    line-height: 1.95;
    font-size: 1.3rem;

    @include min($tablet) {
      top: -1px;
    }
  }
}
