/*
 *  Define the navigation styles.
 */


.navigation {
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: auto;
  padding: 15px;
  text-align: center;
  
  @include min($tablet) {
    padding: 15px 25px;
  }

   @include min($desktop) {
    padding: 15px 50px;
  }

  @include min($large) {
    padding: 15px 100px;
  }
}

.logo {
  display: inline-block;
  z-index: 100;
  text-align: center;
  width: 60%;

  svg {
    width: 180px;
    fill: $black;
    stroke: $black;

    @include min($tablet) {
      width: 200px;
    }

    &:hover,
    &:active,
    &:focus {
      * {
        fill: $grey;
        stroke: $grey;
      }
    }

    * {
      transition: all 200ms ease;
      fill: $black;
      stroke: $black;
    }
  }
}

.nav-list {
  float: right;
  padding-top: 34px;
}

.nav-list__item {
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

.nav-link {
  width: 19%;
  margin-top: 15px;
  color: $black;
  letter-spacing: 1px;
  font-family: $sans;
  font-weight: 400;
  font-size: 1.4rem;
  webkit-font-smoothing: auto;
  transition: color 250ms ease;

  @include min($tablet) {
    margin-top: 18px;
    font-size: 1.7rem;
  }

  &:hover,
  &:active,
  &:focus {
    // color: $grey;
  }

  &.nav-link--first {
    float: left;
    text-align: left;
  }

  &.nav-link--last {
    float: right;
    text-align: right;
  }
}

.cart-contents {

  &:hover,
  &:active,
  &:focus {
    span {
      transform: translateY(-1px);
      background: $light-black;
      color: $white;
    }
  }

  span {
    transition: all 250ms ease;
    transform: translateY(0);
    box-shadow: 0;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-left: 5px;
    border-radius: 100%;
    background: #f7f7f7;
    color: $black;
    text-align: center;
    line-height: 1.95;
    font-size: 1.3rem;
  }
}
