/**
 * Global notice styling for messages and states.
 */

.content-wrapper {

  // Why did they have to use important :(
  .woocommerce-message {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 100;
    max-width: 90%;
    margin: 0 !important;
    padding: 10px 80px 60px 25px !important;
    border: 0;
    border-left: 4px solid $black;
    background: $white;
    color: $black;
    line-height: 1.8;
    letter-spacing: 1px;
    font-family: $sans;
    font-weight: 400;
    webkit-font-smoothing: auto;
    animation: fadeIn 400ms 1;

    @include min($tablet) {
      right: 50px;
      bottom: 30px;
      padding: 10px 80px 10px 25px !important;
      line-height: 2.8;
    }

    a {
      text-decoration: underline;
    }

    .button {
      position: absolute;
      bottom: 15px;
      float: none;
      padding: 0 0 2px;
      border: 0;
      border-radius: 0;
      border-bottom: 2px solid $black;
      color: $black;
      box-shadow: none;
      letter-spacing: 0;
      text-decoration: none;
      font-family: $sans;
      font-size: 1.4rem;

      @include min($tablet) {
        position: static;
        float: right;
        margin-left: 2em;
        border-bottom: 0;
        line-height: 2.8;
        background: $white;
        text-decoration: underline;
        font-size: 1.6rem;
      }

      &:hover,
      &:active,
      &:focus {
        color: $tan;
        border-color: $tan;
      }

      a {
        text-decoration: none;
      }
    }

    &::before {
      content: '';
    }
  }

  .woocommerce-error {
    width: 70%;
    margin: 0 auto 1em !important;
    border-color: $red;
    color: $black;
    background: $white;
    font-size: 1.8rem;

    &:before {
      color: $red;
    }
  }

  .woocommerce-info {
    width: 100%;
    margin: 0 auto 1em !important;
    border-color: $black;
    color: $black;
    background: $white;
    font-size: 1.8rem;
    font-weight: 300;

    @include min($tablet) {
      width: 70%;
    }

    &:before {
      content: none;
    }

    a {
      border-bottom: 2px solid $black;
    }
  }
}

.global-message {
  bottom: 30px;
  right: 30px;
  box-shadow: 2px 1px 6px rgba($black, 0.16);

  &.is-closing {
    animation: fadeOut 400ms 1;
    animation-fill-mode: forwards;
  }
}

.global-message-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 55px;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    svg {
      fill: $tan;
    }
  }

  svg {
    transition: fill 300ms ease;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: auto;
    fill: $black;
  }
}

.wc-terms-and-conditions {
  background: none;
  letter-spacing: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 0;
    transform: translateY(-25px);
  }

  100% {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    display: none;
  }
}
