/*
 *  Define the shop all products callout for the homepage.
 */

.row {

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.product-feature {
  position: relative;
  padding: 100px 4px 4px;
  background: $light-grey;
  text-align: center;
  -webkit-perspective: 1000;

  @include min($tablet) {
    padding: 50px 25px;
  }

  @include min($desktop) {
    padding: 100px;
  }

  &.product-feature--right {
    text-align: right;
  }

  &.product-feature--left {
    text-align: left;
  }
}

.feature-image-wrapper {
  position: relative;
  display: block;
  // box-shadow: 0 0 0 rgba($black, 0);

  &:hover,
  &:active {
    // box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
    transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);

    .feature-cta {
      transform: translateY(0);
      opacity: 1;
    }
  }

  a {
    display: block;
  }
}

.feature-cta {
  position: absolute;
  opacity: 0;
  bottom: 15px;
  left: 25px;
  transform: translateY(10px);
  color: $white;
  font-size: 1.6rem;
  font-family: $mono;
  transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
  transition-property: opacity, transform;
}

.product-feature-image {
  display: inline-block;
  vertical-align: top;
  width: 100%;

  @include min($tablet) {
    width: 60%;
  }
}

.product-callout {
  padding: 35px 35px 50px;
  background: $white;
  text-align: left;
  font-family: $mono;
  font-size: 1.6rem;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 1000;

  @include min($tablet) {
    transform: translateY(-50%);
    transform: translate3d(0, -50%, 0);
    position: absolute;
    top: 50%;
    max-width: 45%;
  }

  @include min($desktop) {
    min-width: 440px;
    max-width: auto;
  }

  &.product-callout--left {

    @include min($tablet) {
      left: 25px;
    }

    @include min($desktop) {
      left: 100px;
    }

    @include min($xlarge) {
      left: 150px;
    }

    @include min($xxlarge) {
      left: 250px;
    }
  }

  &.product-callout--right {

    @include min($tablet) {
      right: 25px;
    }

    @include min($desktop) {
      right: 100px;
    }

    @include min($xlarge) {
      right: 150px;
    }

    @include min($xxlarge) {
      right: 250px;
    }
  }
}

.product-callout__title {
  line-height: 1.8;
  letter-spacing: 0.5px;
  font-family: $sans;
  font-size: 2rem;
  font-weight: 300;
  text-transform: none;

  @include min($tablet) {
    font-size: 2.6rem;
  }
}

.product-callout__list {
  margin-top: 2em;
  padding: 0;
  list-style: none;
}

.product-callout__body {
  max-width: 440px;
  margin-top: 1.5em;
  margin-bottom: 0;
  padding: 0;
  line-height: 2;
  font-family: $sans;
  font-size: 1.8rem;
  font-weight: 300;
}

.product-callout__link {
  position: relative;
  display: inline-block;
  margin-top: 3em;
  letter-spacing: 1px;
  transition: all 350ms cubic-bezier(0.86, 0, 0.07, 1);

  &:hover {
    color: $tan;

    &::after {
      transform: scaleX(0);
      transition-delay: 0;
    }

    &::before {
      transform: scaleX(1);
    }
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    bottom: -6px;
    display: block;
    width: 100%;
    height: 2px;
  }

  &::before {
    background: $tan;
    transform: scaleX(0);
    transition: all 200ms cubic-bezier(0.86, 0, 0.07, 1);
    transition-delay: 300ms;
    transform-origin: left;
  }
  
  &::after {
    background: $black;
    transform: scaleX(1);
    transition: all 200ms cubic-bezier(0.86, 0, 0.07, 1);
    transform-origin: right;
  }
}
