/*
 *  Define the shop all products callout for the homepage.
 */

.row {

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.all-products,
.product-feature {
  position: relative;
  padding: 4px;
  background: $light-grey;
  text-align: center;
  -webkit-perspective: 1000;

  @include min($tablet) {
    margin: 0 2px;
    padding: 50px;
  }

  @include min($desktop) {
    padding: 100px;
  }

  &.product-feature--right {
    text-align: right;
  }

  &.product-feature--left {
    text-align: left;
  }
}

.product-feature-image {
  display: inline-block;
  vertical-align: top;
  width: 100%;

  @include min($tablet) {
    width: 60%;
  }
}

.product-callout__title {
  line-height: 1.8;
  letter-spacing: 0.5px;
  font-family: $sans;
  font-size: 2rem;
  font-weight: 300;
  text-transform: none;

  @include min($tablet) {
    font-size: 2.8rem;
  }
}

.product-callout {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  padding: 35px 35px 45px;
  background: $white;
  text-align: left;
  font-family: $mono;
  font-size: 1.6rem;
  -webkit-transform-style: preserve-3d;
  transform: translate3d(0, -50%, 0);
  -webkit-perspective: 1000;

  @include min($desktop) {
    min-width: 440px;
  }

  &.product-callout--left {
    left: 150px;
  }

  &.product-callout--right {
    right: 150px;
  }
}

.product-callout__list {
  margin-top: 2em;
  padding: 0;
  list-style: none;
}

.product-callout__link {
  position: relative;
  display: inline-block;
  margin-top: 3em;
  transition: all 350ms cubic-bezier(0.86, 0, 0.07, 1);

  &:hover {
    color: $tan;

    &::after {
      transform: scaleX(0);
      transition-delay: 0;
    }

    &::before {
      transform: scaleX(1);
    }
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    bottom: -5px;
    display: block;
    width: 100%;
    height: 2px;
  }

  &::before {
    background: $tan;
    transform: scaleX(0);
    transition: all 200ms cubic-bezier(0.86, 0, 0.07, 1);
    transition-delay: 300ms;
    transform-origin: left;
  }
  
  &::after {
    background: $black;
    transform: scaleX(1);
    transition: all 200ms cubic-bezier(0.86, 0, 0.07, 1);
    transform-origin: right;
  }
}

// @keyframes wipeReveal {
//   0% {
//     transform: scaleX(1);
//   }

//   50% {
//     transform: scaleX(0);
//   }

//   100% {
//     transform: scaleX(1);;
//   }
// }
